/**

  Тестовая работа
урок вэб-программирования

**/

html{
  font-size: 3em;
}

body{
  background-color: rgba(91, 199, 148, 0.5);
}

header{
  width: 90vw;
  height: 10vh;
  margin: auto;
  background-color: rgba(57, 252, 8, 0.5);
  border: 10px solid #f70deb;
}

main{
  width: 90vw;
  height: 80vh;
  margin: auto;
  background-color: rgba(6, 182, 252, 0.973);
}

footer{
  width: 90vw;
  height: 10vh;
  margin: auto;
  background-color: rgba(24, 4, 245, 0.932);
}
